<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dolly</title>
  <link rel="stylesheet" href="/css/style.css">
</head>


<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      
      <h1>
        <img src="/images/Dolly_logo.png" alt=""> 
        <a href="/"> Dolly </a> 
      </h1>
      <nav>
        <h4>
          {{#if logged_in}}
          <a href="/profile">Profile</a> |
          <a href="../../public/js/logout.js" id="logout">Logout</a>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </h4>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
