<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Bleet:</h3>

    <form class="form new-bleet-form">
      <div class="form-group">
        <label for="bleet-desc">What is happening?!</label>
        <textarea class="form-input" id="bleet-desc" name="bleet-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Bleet</button>
      </div>
    </form>
  </div>

{{#each bleets as |bleet| }}
<div class="row mb-4 project"> 
  <a href="/bleet/{{bleet.id}}">
  <div class="col-md-5 card">
    <p class="bleeter-username">@{{bleet.user.username}}</p>
    <p class="bleet-content">
      {{bleet.content}}
    </p>
    <p class="bleet-date" id="date">{{formated_date bleet.date}}</p>
  </div>
  
  </a>
</div>
{{/each}}

<script src="./js/homepage.js"></script>